@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap";
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: white;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

a{
    text-decoration: none;
    color: inherit;
}



::selection {background: rgba(30, 30, 30, 0.7);}
::-moz-selection {background: rgba(30, 30, 30, 0.7);}
::-webkit-selection {background: rgba(30, 30, 30, 0.7); color:#fff;}

:root{
    --text-color: white;
    --transition: 0.25s;
    --main-color: rgb(146, 0, 146);
    --sec-color: black;
    --hover-clr: rgb(112, 0, 112);
}

.center{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body{
    width: 100%;
    min-height: 100%;
    margin: 0;
    background-size: cover;
    display: flex;
    font-family: 'Product Sans';
}

.b, .bp, .phnk{
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    position: fixed; 
    z-index: -2;
}

.phnk{
    z-index: -1;
    background: rgba(10, 10, 10, 0.1);
    backdrop-filter: blur(2px);
}

.bp{
    display: none; 
}


.c{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.co{
    width: 50%;
    margin-top: 0.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.pr{
    display: flex;
    padding-left: 23px;padding-right: 23px; padding-bottom: 8px;
    height: auto;
    width: auto;
    overflow: hidden;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    transition: var(--transition);
}

.pr:hover{
    transition: var(--transition);
    box-shadow: 0 0 1px var(--main-color), 0 0 5px var(--main-color),0 0 20px var(--main-color);
}

.pr img{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    transition: 0.25s;
}


.pr span{
    font-size: 13pt;
}

.ci{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.ci .cic{
    display: flex;
    margin-top: 15px;
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 5px;
    transition: var(--transition);
}

.ci .cic:hover{
    transition: var(--transition);
    box-shadow: 0 0 1px var(--main-color), 0 0 5px var(--main-color),0 0 20px var(--main-color);
}

.ci .cic .nm{
    font-size: 16pt;
    font-weight: 600;
}

.ci .linkbl{
    display: flex;
    flex-direction: column;
}


.ci .linkbl .links{
    margin-top: 10px;
    display: flex;
    list-style: none;
    word-wrap:break-word;
	flex-wrap:wrap;
    justify-content: center;
}

.ci .linkbl .links .links-div .links-li{
    display: flex; z-index: 2;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70px;
    width: 70px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    border: 1px solid var(--main-color);
    background-color: rgba(2, 2, 2, 0.39);
}

.ci .linkbl .links .links-div{
    display: flex;
}

.ci .linkbl .links .links-div .links-li span{
    position: absolute;z-index: 2;
    font-size: 10.5pt;
}

.ci .linkbl .links .links-div a .links-li i{
    position: relative; z-index: 1;
    opacity: 0.2;
    color: rgba(155, 102, 155, 0.897);
    transition: var(--transition);
}

.ci .linkbl .links .links-div:first-child a:first-child .links-li i{
    font-size: 57px;
}

.ci .linkbl .links .links-div:first-child a:nth-child(2) .links-li i{
    margin-left: -10px;
    margin-top: 5px;
    font-size: 57px;
}

.ci .linkbl .links .links-div:nth-child(2) a:first-child .links-li i{
    font-size: 50px;
}

.ci .linkbl .links .links-div:nth-child(2) a:nth-child(2) .links-li i{
    font-size: 50px;
}


.ci .linkbl .links .links-div a .links-li:hover i{
    opacity: 0.4;
    transition: var(--transition);
}

.bio, .tracks{
    flex-direction: column;
}
.bio{
    align-items: center;
}

.bio #biotuck{
    cursor: pointer;
}

.clickable{
    font-size: 7pt;
    margin-top: 5px;
    color: rgba(94, 94, 94, 0.541);
}


.tracks #trcks{
    display: flex;
    flex-direction: column;
    padding-top: 10;
    list-style: none;
}

.tracks #trcks .aud{
    cursor: pointer;
    margin-top: 5px;
    padding: 5px 0px 5px 10px; 
    backdrop-filter: blur(50px);
    border-radius: 5px 0px 0px 5px;
}
.tracks #trcks .aud:hover{
    box-shadow: 0 0 1px var(--hover-clr), 0 0 5px var(--hover-clr),0 0 20px var(--hover-clr);
    border-left: 3px solid var(--hover-clr);
    transition: var(--transition);
}

.tracks #trcks .aud i{
    margin-right: 10px;
}


.tracks #trcks .aud .download-icn{
    position: absolute;
    right: 10px;
}






@media (max-width:710px){
    .b{
        display: none;
    }
    .bp{
        display: block;
    }
    .co{
        width: 70%;
    }
}




@media (max-width:500px){
    *{
        font-size: 10pt;
    }
}


@media (max-width:430px){
    .co{
        width: 80%;
    }
}


@media (max-width:370px){
    .co{
        width: 90%;
    }
    .pr img{
        width: 120px;
        height: 120px;
    }
}

@media (max-width:325px){
    *{
        font-size: 8pt;
    }
    .co{
        width: 95%;
    }
    .ci .linkbl .links .links-div .links-li{
        width: 55px;
        height: 55px;
    }

    .ci .linkbl .links .links-div .links-li span{
        font-size: 8pt;
    }

    .ci .linkbl .links .links-div:first-child a:first-child .links-li i{
        font-size: 35px;
    }
    
    .ci .linkbl .links .links-div:first-child a:nth-child(2) .links-li i{
        margin-left: -10px;
        margin-top: 5px;
        font-size: 35px;
    }
    
    .ci .linkbl .links .links-div:nth-child(2) a:first-child .links-li i{
        font-size: 30px;
    }
    
    .ci .linkbl .links .links-div:nth-child(2) a:nth-child(2) .links-li i{
        font-size: 30px;
    }
}


@media (max-width:260px){
    .tracks #trcks .aud i{
        font-size: 8pt;
        margin-right: 5px;
    }
    .tracks #trcks .aud .download-icn{
        right: 0px;
    }
}